<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="" style="text-decoration: none; color: inherit;">
      <mat-icon style="color: rgb(214, 0, 0); vertical-align: middle;">help_outline</mat-icon>
      <span style="margin-left: 10px; vertical-align: middle;">{{ title }}</span>
    </a>

    <span class="spacer"></span>
    
    <button mat-icon-button color="accent" [routerLink]="['/login']">
      <mat-icon aria-label="Example icon-button with a heart icon">face</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>