<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="" style="text-decoration: none; color: inherit;">
      <mat-icon style="color: rgb(214, 0, 0); vertical-align: middle;">help_outline</mat-icon>
      <span style="margin-left: 10px; vertical-align: middle;">{{ title }}</span>
    </a>

    <span class="spacer"></span>
    <a mat-icon-button 
      matTooltip="Películas">
      <mat-icon>theaters</mat-icon>
    </a>
    <a mat-icon-button
      matTooltip="Planetas">
      <mat-icon>language</mat-icon>
    </a>
    <a mat-icon-button
      matTooltip="Personajes">
      <mat-icon>face</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>