@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { margin: 0; }

.dashboard {
    margin: 15px;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 250px;
    right: 0;
}
